.body{
    background-color: #212121;
    overflow: hidden;
}
.glitch {
  position: relative;
  font-family: cursive;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-2px, 0) skewX(-2deg);
  animation: glitch 1s linear infinite alternate;
}

.glitch {
  color: white;
  text-shadow: -2px 0 cyan, 2px 0 blue;
  margin-bottom: -30px;
  font-size: 30px;
}

@keyframes glitch {
  0% {
      clip-path: none;
      transform: translate(-2px, 0) skewX(-2deg);
  }
  25% {
      clip-path: inset(0 0 50% 0);
      transform: translate(-2px, -2px) skewX(-1deg);
  }
  50% {
      clip-path: inset(0 0 0 50%);
      transform: translate(-2px, 0) skewX(1deg);
  }
  75% {
      clip-path: inset(50% 0 0 0);
      transform: translate(2px, 2px) skewX(2deg);
  }
  100% {
      clip-path: none;
      transform: translate(2px, 0) skewX(2deg);
  }
}
#Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    
  }
  
  #rays {
    z-index: 2;
    position: relative;
    bottom: -1.5em;
    animation: rays 2s ease-in-out infinite;
  }
  
  .form {
    position: relative;
    top: 5em;
    width: 350px;
    padding: 4% 1.2%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 4px solid #fff;
    background: rgba(0, 255, 240, 0.52);
    box-shadow: 0px 0px 64px 0px #82e1ff inset, 0px 0px 16px #a8fffaa6 !important;
    backdrop-filter: blur(3.5px);
    gap: 1em;
    animation: float 2s ease-in-out infinite;
  }
  .form:focus-within{
    animation-name: none;
    transition: 1.2s;
    background: blue;
    box-shadow: 0px 0px 64px 0px cyan inset, 0px 0px 16px cyan ;
  }
  @keyframes float {
    0% {
      position: relative;
    }
  
    50% {
      top: 90px;
    }
  
    100% {
      position: relative;
    }
  }
  .form input:focus{
    animation-name: none;
  }

  #login-lable {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
  }
  
  .form-content {
    height: 3em;
    padding: 1px 8px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #fff;
    background: rgba(139, 255, 247, 0.486);
    box-shadow: 0px 0px 1px 3px #9ee5e3 inset, 0px 4px 4px 0px #181a6040;
    text-shadow: 0px 1px 4px rgb(243, 243, 243);
  }
  
  .input {
    padding: 0.6em 2em;
    min-height: 45px;
    font-size: 16px;
    color: #fff;
    outline: none;
    transition: 0.35s;
    padding: 0px 7px;
    background-color: #212121;
    border-radius: 6px;
    border: 2px solid #212121;
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6);
  }
  
  .input::placeholder {
    color: #999;
    font-size: 15px;
  }
  
  .input:focus.input::placeholder {
    transition: 0.3s;
    opacity: 0;
  }
  
  .input:focus {
    transform: scale(1.01);
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0,0,0,1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  }
  
  .form:has(input[type="tel"]:invalid) {
    box-shadow: 0px 0px 64px 0px red inset, 0px 0px 16px red !important;
  }
  
  .code{
    text-align: center;
    color: lime;
    font-size: 20px;
    font-weight: 600;
    display: none;
  }
  .success{
    text-align: center;
    color: lime;
    font-size: 23px;
    font-weight: 600;
    display: none;
  }
  .invalid{
    text-align: center;
    color: red;
    font-size: 22px;
    font-weight: 600;
  }

  .bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6);
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  .social-account-container {
    margin-top: 25px;
  }
  
  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 12px;
    color: rgb(207, 207, 207);
  }
  
  .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  .social-account-container .social-accounts .social-button {
    background-color: #212121;
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6);
    transition: all 0.2s ease-in-out;
    
  }
  
  .social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
  }
  
  .social-account-container .social-accounts .social-button:hover {
    cursor: pointer;
  }
  
  .social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
  }
  
  @keyframes rays {
    0% {
      opacity: 0.6;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.6;
    }
  }